<div>
  <h2 id="page-heading" data-cy="ConsultationHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.consultation.home.title">Consultations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.consultation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consultation"
        [routerLink]="['/consultation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.consultation.home.createLabel"> Create a new Consultation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="consultations?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.consultation.home.notFound">No consultations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="consultations && consultations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.consultation.nO">N O</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.consultation.date">Date</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.consultation.medicament">Medicament</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consultation of consultations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/consultation', consultation.id, 'view']">{{ consultation.id }}</a>
          </td>
          <td>{{ consultation.nO }}</td>
          <td>{{ consultation.date | formatMediumDate }}</td>
          <td>
            <span *ngFor="let medicament of consultation.medicaments; let last = last">
              <a class="form-control-static" [routerLink]="['/medicament', medicament.id, 'view']">{{ medicament.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/consultation', consultation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/consultation', consultation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(consultation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
